<div class="col-md-8 col-md-offset-2">
  <h1>编辑文章</h1>
  <div class="form-group">
    <input type="text" class="form-control" v-model="title" placeholder="请输入文章标题">
  </div>
  <div class="form-group">
    <textarea class="form-control" rows="8" cols="80" v-model="content" placeholder="请输入文章内容"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-default" name="button" v-on:click="submit">提交</button>
  </div>
</div>
<!-- 将文章内容提交到服务器 -->
<script>
var postId = '<%= id%>';
var vm = new Vue({
  el: "#app",
  data:{
    title: '',
    content: ''
  },
  // 这个函数应该是创建页面，我自己的理解
  created(){
    axios.get('/api/v1/posts/' + postId)
    .then(function(response){
      console.log('response.data.post:' + response.data.post);
      vm.title = response.data.post.title;
      vm.content = response.data.post.content;
    })
    .catch(function(err){
      alert(err);
    });
  },
  methods:{
    submit(){
      axios.patch('/api/v1/posts', {
        id: postId,
        title: vm.title,
        content: vm.content
      })
      .then(function(response){
        // alert(JSON.stringify(response.data));
        return response.data;
      })
      .then(function(data){
        window.location = '/posts/show?id=' + postId;
      })
      .catch(function(err){
        alert(err);
      })
    }
  }
}
);
</script>
