<!DOCTYPE html>
<html>
  <head>
    <title><%= article.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js" charset="utf-8"></script>
  </head>
  <body>
    <div id="app">
      <h1><%= article.title %></h1>
      <!-- <p><%= article.content %></p> -->
      <!-- 使用markdown语言显示 -->
      <p><%- article.content %></p>
    </div>
  </body>
</html>
