<!-- 添加编辑文章的按钮，使用Split button -->
<% if (currentUser && currentUser._id.toString() === article.authorId.toString()){ %>
<div class="btn-group pull-right">
  <button type="button" class="btn btn-default" name="button">操作</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="button">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">

    <!-- <li><a href="/posts/create">编辑</a></li> -->
    <li><a href="/posts/edit?id=<%= article._id %>">编辑</a></li>

  </ul>
</div>
<% } %>
<h1><%= article.title %></h1>
<!-- <p><%= article.content %></p> -->
<!-- 使用markdown语言显示 -->
<p><%- article.content %></p>
