<div class="col-md-8 col-md-offset-2">
  <h1>新建文章</h1>
  <div class="form-group">
    <input type="text" class="form-control" v-model="title" placeholder="请输入文章标题">
  </div>
  <div class="form-group">
    <textarea class="form-control" rows="16" cols="80" v-model="content" placeholder="请输入文章内容"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-default pull-right" name="button" v-on:click="submit">提交</button>
  </div>
  <div class="form-group">
    <select class="" name="" id="category">
      <option value="" v-for="item in CategoriesList" :tid="item.id">{{ item.name }}</option>
    </select>
  </div>
</div>

<script>
var vm = new Vue({
  el: "#app",
  data:{
    title: '',
    content: '',
    CategoriesList: []
  },
  methods:{
    fetchData() {
      axios.get('/api/v1/categories')
      .then(function(response){
        console.log('response:' + response);
          vm.CategoriesList = response.data.CategoriesList;

          vm.CategoriesList.forEach(function(element){
            element.id = element._id;
          });
          console.log(vm.CategoriesList);
      })
      .catch(function(err){
        alert(err.message);
      });
    },
    submit(){
      // var myselect = document.getElementsByTagName('select')[0];
      // var index = myselect.selectedIndex;
      // var tid1 = myselect.options[index].getAttribute('tid');
      // var tid2 = myselect.options[index].attributes['tid'];
      // var tid3 = myselect.options[index].text;

      // var tid4 = $("#category").find("option:selected").attr("tid");
      var el1 = $("#category");
      var el2 = el1.find("option:selected");
      var attr  = el2.attr("tid");
      // console.log(`tid1: ${tid1}, tid2: ${tid2}, tid3: ${tid3}, tid4: ${tid4}, testid: ${testid}`);
      axios.post('/api/v1/posts', {
        title: vm.title,
        content: vm.content,
        categoryId: attr
      })
      .then(function(response){
        console.log(`data: ${response.data}`);
        return response.data;
      })
      .then(function(data){
        window.location = '/posts/show?id=' + data.post._id;
      })
      .catch(function(err){
        alert(err.message);
      })
    }
  }
}
);
vm.fetchData();
</script>
