<!-- 添加新建文章的按钮，使用Split button -->
<% if (currentUser) { %>
<div class="btn-group pull-right">
  <button type="button" class="btn btn-default" name="button">操作</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="button">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="/posts/create">新建</a></li>
  </ul>
</div>
<% } %>
<div id="app">
  <div class="col-md-9">
    <h1><%= title %></h1>
    <!-- 使用list-group组件来显示文章 -->
    <ul class="list-group" v-for="item in PostsList">
      <li class="list-group-item">
        <a v-bind:href="item.url">{{ item.title }}</a>
      </li>
    </ul>
  </div>
  <div class="col-md-3">
    分类
    <span><a href="/categories">管理</a> </span>
    <ul class="list-group" v-for="item in CategoriesList">
      <li class="list-group-item">
        <a v-bind:href="item.url">{{ item.name }}</a>
      </li>
    </ul>
  </div>
</div>

<script>
    var vm = new Vue({
        el: "#app",
        data: {
            PostsList: [],
            CategoriesList: []
        },
        methods: {
            fetchData() {
                axios.get('/api/v1/posts')
                .then(function(response){
                  console.log('response:' + response);
                    vm.PostsList = response.data.PostsList;
                    // 给每个变量的设置url地址
                    // vm.PostsList.forEach((element) => element.url = '/posts/show?id=' + element._id);

                    // 箭头函数是将原来的额函数改为了箭头，其等价函数应该如下，亲测没毛病
                    vm.PostsList.forEach(function(element){
                      element.url = '/posts/show?id=' + element._id;
                    });
                    console.log(vm.PostsList);
                })
                .catch(function(err){
                  alert(err.response.data.error);
                });

                axios.get('/api/v1/categories')
                .then(function(response){
                  console.log('response:' + response);
                    vm.CategoriesList = response.data.CategoriesList;
                    // 给每个变量的设置url地址
                    // vm.CategoriesList.forEach((element) => element.url = '/posts/show?id=' + element._id);

                    // 箭头函数是将原来的额函数改为了箭头，其等价函数应该如下，亲测没毛病
                    vm.CategoriesList.forEach(function(element){
                      element.url = '/categories/show?id=' + element._id;
                    });
                    console.log(vm.CategoriesList);
                })
                .catch(function(err){
                  alert(err.response.data.error);
                });
            }
        }
    })
    vm.fetchData();
</script>
